@model IEnumerable<BUKEP.Student.Todo.Task>

@{
    ViewBag.Title = "Index";
}
<style>
    .widetextbox {
        max-width: none;
    }
</style>

<h4>&nbsp;</h4>
<div class="container">
    <div class="row">
        <h3 class="col-4 text-center">Список задач</h3>
        <h3 class="col-4">&nbsp;</h3>
        <a href="/TaskModels/Index?editmode=true" class="btn btn-primary col-4 text-center">Создать новую задачу</a>
    </div>

    <table class="table">
        <tr>
            <th>
                Задача
            </th>
            <th>
                Описание
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td class="col-3">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="col-5">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td class="col-4">
                    <a href="/TaskModels/Index?id=@item.Id&editmode=true" class="btn btn-success text-center">Редактировать</a>
                    <a href="/TaskModels/Delete?id=@item.Id" class="btn btn-danger text-center">Удалить</a>
                </td>
            </tr>
        }
    </table>
    @if (ViewBag.EditMode)
    {
        <div class="container border-2">
            @using (Html.BeginForm("Edit", "TaskModels", FormMethod.Post))
            {
                <h2 class="row">Задача</h2>
                <input placeholder="Введите название задачи..." class="row form-control widetextbox" value="@ViewBag.Name" name="taskName"/>
                <h2 class="row">Описание</h2>
                <input placeholder="Введите описание задачи..." class="row form-control widetextbox" value="@ViewBag.Description" name="taskDescription"/>
                <b class="row">&nbsp;</b>
                <div class="row">
                    <h2 class="col-6">&nbsp;</h2>
                    <a href="/TaskModels" class="col-3 btn btn-secondary text-center">Отменить</a>
                    <input type="submit" class="col-3 btn btn-success" value="Отправить">
                </div>
                <input type="hidden" value="@ViewBag.Id" name="id"/>
            }
        </div>
    }
</div>

